@import './variables.css';

#post-container {
    padding: 1em;
}

.blog-card {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em;
    margin-bottom: 1em;
    width: 100%;

    &:hover {
        transform: scale(1.01);
        transition: transform 0.2s ease;
    }
}

@media (max-width:500px) {
    .blog-card {
        border-width: 5px;
    }
}

button, select, input {
    background-color: var(--header-footer-background-color);
    border-width: 0;
    color: var(--font-color);
}

button {
    &:hover {
        transform: scale(1.05);
    }
}