@import './variables.css';

code {
    background-color: var(--header-footer-background-color);
    white-space: pre;
    
    &.code-block {
        display: block;
        overflow-x: auto;
        max-width: 100%;

        ins, del {
            text-decoration: none;
            display: inline-block;
            width: 100%;
        }
    
        ins {
            background-color: rgba(0, 255, 0, 0.1);
    
            &::before {
                content: "+";
            }
        }
    
        del {
            background-color: rgba(255, 0, 0, 0.1);
            
            &::before {
                content: "-";
            }
        }
    }   
}

.terminal-output {
    background-color: var(--header-footer-background-color);
}

.comment-box fieldset {
    display: grid;

    * {
        margin-top: 0.5em;
    }
}

main {
    display: block;
}

tr {
    background-color: #76ABAE;
}

th, tr > td:first-child  {
    background-color: #507274;
}