:root {
    --page-background-color: #171717;
    --content-background-color: #31363F;
    --header-footer-background-color: #222831;
    --font-color: #EEEEEE;
    --link-color: #DDDDDD;
    --link-color-hover: white;
}