:root {
    --page-background-color-dark: #171717;
    --page-background-color-light: #FFFFFF;
    --content-background-color-dark: #31363F;
    --content-background-color-light: #EEEEEE;
    --header-footer-background-color-dark: #222831;
    --header-footer-background-color-light: #EEEEEE;
    --font-color-dark: #EEEEEE;
    --font-color-light: black;
    --link-color-dark: #DDDDDD;
    --link-color-light: blue;
    --link-color-hover: white;

    --blog-card-border-width: 1px;
    --blog-card-border-style: solid;
    --blog-card-border-color: white;
}